@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* body {
    max-width: 1100px;
    margin: 20px auto;
    border: 1px solid #1b61c9;
    border-radius: 20px;
    box-shadow: 2px 2px 15px #1b61c960;
}

.main-content,
.nav {
    max-height: 500px;
} */

html {
    scroll-behavior: smooth;
}

.main-content {
    display: flex;
    min-height: 100vh;
    align-items: center;
}

.nav {
    display: flex;
    padding: 80px;
    align-items: center;
    background-color: #1b61c9;
    width: 250px;
    position: fixed;
    top: 0;
    height: 100vh;
}

.nav-ul {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
    height: 100%;
}

.nav-item {
    font-size: 1rem;
    text-transform: uppercase;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
}

.active {
    color: #1f3c79;
}

.link-rede {
    color: #fff;
}

.icons-rede:hover .link-rede {
    color: #1b61c9;
}

.nav-link:hover {
    color: #002a85;
    padding-bottom: 5px;
    border-bottom: 1px solid #002a85;
}

.user-content {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 250px;
}

.projeto-contet {
    display: flex;
    align-items: start;
    flex-direction: column;
    padding: 40px 8vw;
    margin-left: 250px;
}

.page-content {
    text-align: center;
}

.redes-container {
    margin-top: 1rem;
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons-rede {
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #1b61c9;
    background-color: #1b61c9;
    transition: 0.5s;
}

.icons-rede:hover {
    color: #1b61c9;
    border-color: #1b61c9;
    background-color: #fff;
}

a {
    padding: 0px;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0%);
    }
}

.image-content {
    max-width: 150px;
    border-radius: 50%;
    animation: slideDown 0.5s ease-in-out;
    object-fit: cover;
}

.title-content {
    animation: slideDown 0.8s ease-in-out;
}

.text-contet {
    animation: slideDown 1s ease-in-out;
}

/* Sobre */

.user-content-sobre {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 5rem 8vw;
    margin-left: 250px;
}

/* Contato */

.contato-content-sobre {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 5rem 8vw;
    margin-left: 250px;
    width: 100%;
}

/* Fim do contato */

.redes-container-sobre {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: start;
}

.title-sobre {
    text-transform: uppercase;
}

.page-content-sobre,
.sobre-content,
.contato-content {
    max-width: 600px;
    width: 100%;
}

.sobre-content {
    text-align: start;
}

.sobre-content p {
    text-align: start;
}

.input-box {
    display: flex;
    align-self: center;
    margin-bottom: 10px;
}

.label-term {
    font-size: 0.8rem;
}

.label-term input[type="checkbox"]:hover {
    cursor: pointer;
}

.term-privace {
    cursor: pointer;
    color: #1a58b4;
}

/* Sobre */

.mt-2 {
    margin-top: 1rem;
}

.mb-2 {
    margin-bottom: 1rem;
}

@media (max-width: 650px) {
    .main-content {
        flex-direction: column;
    }

    .nav {
        margin-bottom: 30px;
        position: static;
        width: auto;
        flex: 1;
        width: 100%;
    }

    .page-content {
        margin-bottom: 30px;
    }

    .nav-link:hover {
        color: #1f3c79;
    }

    body {
        margin: 0px;
        border: none;
        border-radius: 0px;
        box-shadow: 0px;
    }

    .user-content-sobre {
        margin: 0;
    }

    .projeto-contet {
        margin: 0;
    }

    .contato-content-sobre {
        margin: 0px;
    }

    .user-content {
        padding: 0px;
    }

    .img-card {
        width: 300px !important;
    }
}

/* Contatos */

.form-contato {
    display: flex;
    width: 100%;
    max-width: 300px;
    flex-direction: column;
    border-radius: 10px;
}

.form-label {
    color: #333;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-control,
.textarea-form {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-control:focus,
.textarea-form:focus {
    outline: 1px solid #1b61c9;
}

.textarea-form {
    max-height: 400px;
    min-height: 150px;
    max-width: 300px;
}

.textarea-form::-webkit-scrollbar-thumb {
    background-color: #1b61c9;
    border-radius: 5px;
    cursor: pointer;
}

.textarea-form::-webkit-scrollbar {
    background-color: transparent;
    cursor: pointer;
}

.btn-contato {
    border: 1px solid #1b61c9;
    background-color: #1b61c9;
    color: #eee;
    padding: 10px;
    width: 100px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;
}

.btn-contato:hover {
    background-color: #1a58b4;
}

/* Obrigatório */

.obrigatorio {
    color: red;
}

/* Projetos */

.btn-github a:hover {
    color: #444444;
}

.btn-github a {
    color: #1a58b4;
    transition: 0.5s;
    text-decoration: underline;
}

.carroseul {
    display: flex;
    gap: 1.5rem;
    margin-top: 1rem;
    flex-wrap: wrap;
}

.img-card {
    cursor: pointer;
    width: 200px;
    height: 200px;
    border-radius: 2px;
    border: 1px solid #1a58b4;
    padding: 4px;
    opacity: 0.9;
    transition: 0.5s;
    margin-bottom: 0.5rem;
    box-shadow: 1px 2px 3px #002a85;
    object-fit: cover;
}

.cards-container {
    margin-top: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.text-img {
    color: #1a58b4;
}

/* Adicione a cor cinza quando o mouse passar por cima da imagem */
.img-card:hover {
    border: 1px solid #1a58b4;
    padding: 10px;
}

/* Mensagem de agradecimento */

.message {
    color: #1b61c9;
}

/* List */

.li-item {
    margin-left: 35px;
}

.text-term {
    margin: 20px auto;
}

.text-term h2 {
    color: #1b61c9;
}

/* Container linguagens */

.container-ling {
    margin-top: 5px;
    display: flex;
    gap: 1rem;
    font-size: 2rem;
    color: #1b61c9;
}

.container-ling .box {
    border: 1px solid #002a85;
    border-radius: 5px;
    width: 50px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    height: 50px;
}

.container-ling .box:hover {
    color: #eee;
    cursor: pointer;
    background-color: #002a85;
}

.container-ling a {
    color: #1b61c9;
    text-decoration: none;
}
